---
import BaseHead from '../../components/BaseHead.astro';
import Header from '../../components/Header.astro';
import Footer from '../../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../../consts';
import { getCollection } from 'astro:content';
import FormattedDate from '../../components/FormattedDate.astro';

const posts = (await getCollection('blog')).sort(
	(a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<section>
				<ul class="mx-auto grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 p-5 text-center max-w-max gap-8">
					{
						posts.map((post) => (
							<li class="rounded-lg bg-white border-black shadow-lg drop-shadow-md hover:shadow-xl hover:-translate-y-2 pb-4 duration-200 overflow-hidden max-w-none">
								<a class="no-underline font-GrowingGarden" href={`/notable/notes/${post.slug}/`}>
									<img width={720} height={360} class="overflow-hidden w-96 h-60" src=`/notable/${post.data.heroImage}` alt="" />
									<h3 class="bold mt-4 text-4xl">{post.data.title}</h3>
									<p class="text-xl italic font-serif">
										<FormattedDate date={post.data.pubDate} />
									</p>
								</a>
							</li>
						))
					}
				</ul>
			</section>
		</main>
		<Footer />
	</body>
</html>
